WEBLLAMA_PORT=5000
SESSION_COOKIE_SECURE=false
SECRET_KEY=change-this-secret-before-production
DATABASE_PATH=/data/webllama.db
OAUTH_CLIENT_SECRET=change-this-secret-before-production # Only if you choose to use OIDC. It has to be configured within the application before adding the secret!
ALLOW_OIDC=false # Set to true if you want to allow OIDC authentication
FORCE_MFA=false # Set to true if you want to force multi-factor authentication for all users